body{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(183, 218, 233) 90%);
}

#messages{
    background-color: #fff;
    border-radius: 10px;
    max-height: 50vh;
    padding: 15px;
    overflow-y: scroll;
}

#messages::-webkit-scrollbar {
    display: none;
}